@font-face {
    font-family: 'Renogare';
    src: 
    url('assets/fonts/Renogare.ttf') format('truetype');
}

@media (max-width: 1000px) {
    
    .main-container {
        flex-direction: column;    
        align-items: center;
        justify-content: center;
    }
    .project-container {

        width: 280px;
        height: 450px;
    }
    .description-image-container{
        width: 300px;
    }
    .description-image-landscape{
        height: 150px;
        margin: 10px 0 0 0 ;

    }
    .description-image-portrait{
        height: 400px;
        margin: 10px 10px 0 10px ;
    }
    .icon-container {
        display: none;
    }
    h3{
        text-align: center;
    }

    
}

@media (min-width: 1000px) {
    .project-container{
        margin: 0 0 0 50px ;
        height: 500px;
    }
    .description-image-container{
        width: auto;
    }
    .description-image-landscape{
        height: 240px;
        margin: 20px;

    }
    .description-image-portrait{
        height: 350px;
        margin: 0 20px 0 20px ;
    }
    h3{
        text-align: end;
    }

}
body {
    font-family: 'Renogare';
    background-color: #222;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #181818;
    color: #fff;
    width: 100%;
}

h1 {
    color: #CCC;
    font-size: 28px;
    text-align: center;
    font-family: 'Renogare';

}

h2 {
    color: #CCC;
    font-size: 18px;
    font-family: 'Renogare';

}

h3 {
    color: #808080;
    font-size: 18px;
    font-family: 'Renogare';

}


.main-container {
    max-width: 100%;
    height: fit-content;
    width: auto;
    display: flex;

    /*border-style: solid;*/

}

.project-container {
    max-width: 100%;
    min-width: 280px;
    width: 280px;
    height: 560px;
    
    /*border-style: solid;*/

}

.presentation-image {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    width: 280px;
    display: block;

  }

.download-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    height: 70px;
    width: 200px;
    margin: 10px 0 0 5px;
    font-family: 'Renogare';
    font-size: 26px;
    text-align: center;

    position: absolute;
}


.tutoriel-button {
    background-color: #4c8caf;
    color: white;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 95px;
    padding: 4px;
    margin: 85px 0 0 5px;
    font-family: 'Renogare';
    font-size: 12px;
    text-align: center;
    border-radius: 12px;

    position: absolute;
}



.description-container {
    max-width: 100%;
    min-width: 250px;
    width: auto;
    height: auto;
    margin: 10px 50px 0 50px ;
    display: flex;
    flex-direction: column;

    
    /*border-style: solid;*/
}

.description-image-container{
    max-width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /*border-style: solid;*/

}
.description-image-landscape{

    border-radius: 10px;
    max-width: 100%;
    width: auto;

}
.description-image-portrait{

    border-radius: 10px;
    max-width: 100%;
    width: auto;
}

.icon-container {
    align-items: center;
    flex-wrap: wrap;
    margin: -45px 0px 0px;

}
.icon-image {
    max-width: 100%;
    height: auto;
    width: 150px;
}




















.download-button:hover {
    box-shadow: none;
    color: white;}
.download-button::before {
    border-color: 222;
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 94%;
    border: 3px solid #222;
    transition: opacity 0.3s, border 0.3s; }
.download-button:hover::before {
    opacity: 1; }
.download-button::after {
    border-color: 222;
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 94%;
    background-color: transparent;
    border: 3px solid #e6e6e6;
    opacity: 0;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s; }
.download-button:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1); }






.tutoriel-button:hover {
    box-shadow: none;
    color: white; }
.tutoriel-button::before {
    border-color: 222;
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 90%;
    border: 3px solid #222;
    transition: opacity 0.3s, border 0.3s; }
.tutoriel-button:hover::before {
    opacity: 1; }
.tutoriel-button::after {
    border-color: 222;
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 89%;
    background-color: transparent;
    border: 3px solid #e6e6e6;
    opacity: 0;
    transform: scaleX(1.1) scaleY(1.3);
    transition: transform 0.3s, opacity 0.3s; }
.tutoriel-button:hover::after {
    opacity: 1;
    transform: scaleX(1) scaleY(1); }

